* {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .half{
        flex-direction: column;
    }
    .page {
        opacity: 0;
    }
}

@font-face {
    font-family: 'SKYBORI';
    src: url("C:\\Users\\yooji\\python_AI\\nlp_project\\django\\static\\font\\SKYBORI.otf") format('opentype');
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SKYBORITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YeongdeokSea';
    src: url("C:\\Users\\yooji\\python_AI\\nlp_project\\django\\static\\font\\Yeongdeok_Sea.otf") format('opentype');
    src: url("C:\\Users\\yooji\\python_AI\\nlp_project\\django\\static\\font\\Yeongdeok_Sea.ttf") format('truetype');
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/YeongdeokSea.woff2') format('woff2');
}

/* @font-face {
    font-family: 'Gaegu';
    /* src: url("C:\\Users\\yooji\\python_AI\\nlp_project\\django\\static\\font\\Gaegu-Regular.ttf");
    src: url("C:\\Users\\yooji\\python_AI\\nlp_project\\django\\static\\font\\Gaegu-Light.ttf");
    src: url("C:\\Users\\yooji\\python_AI\\nlp_project\\django\\static\\font\\Gaegu-Bold.ttf"); */
    /* src: url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap"); */
    /* src: url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400&display=swap"); */
/* } */ 



body {
    font-family: SKYBORI;
    /* overflow-y: visible; */
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


/* 메인페이지 */
.half{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.half img {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* object-fit: cover; */
}

.half img:hover {
    opacity: 0.5;
}

/* .half .image{
    width: 100%;
    height: 100%;
    opacity: 1;
}

.half .image:hover {
    opacity: 0.5;
} */

.half .rotating-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half .rotating-image-opposite {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.half:hover .rotating-image {
    display: block;
    animation: rotation 9s infinite linear;
}

.half:hover .rotating-image-opposite {
    display: block;
    animation: rotation-opposite 9s infinite linear;
}

.half .ad-image {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
}

.half .ad-image:hover {
    display: block;
    animation: blink 3s infinite linear;

}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

@keyframes rotation-opposite {
    from {
        transform: translate(50%, 50%) rotate(359deg);
    }
    to {
        transform: translate(50%, 50%) rotate(0deg);
    }
}

@keyframes appearThenDisappear {
    0%, 1% {
        opacity: 0; /* 처음에는 투명하게 */
    }
    1% {
        opacity: 1; /* 중간에는 완전히 보이게 */
    }
    /* 99%, 100% {
        opacity: 0; 
    } */
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
}

/* 게임선택 페이지 */
.page {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: fill;
    opacity: 0.7;
    z-index: -1;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
    border: none;
    border-color: rgb(225, 225, 225);
    font-size: 2.0rem; /* 글꼴 크기 변경 */
    padding: 15px 25px; /* 패딩 */
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.1); /* 그림자 추가 */
    border-radius: 5px;
}

button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(95, 205, 217);
    scale: 1.1;
}

.turtlebutton {
    position: relative;
    width: 20%;
    height: 15%;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #6ACED9;
    text-align: center;    
}

.turtlebutton:hover { 
    margin: 0;
    animation: colorchange 2s;
    color: white; 
    font-weight: bold;
    border: 0.3rem solid #6ACED9;
    scale: 1.5;
}

@keyframes colorchange {
    0% {
        background: linear-gradient(to top, rgba(103, 206, 217, 1) 1%, white 99%);
        background-size: 200% 200%;
    }
    100% {
        background: linear-gradient(to top, rgba(103, 206, 217, 0) 99%, rgba(255, 255, 255, 0) 1%);
        background-size: 200% 200%;
    }
}

#turtlebuttonwave, #continueturtlebuttonwave {
    opacity: 0;
    animation: zerotoone 2s forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#turtlebutton:hover #turtlebuttonwave {
    opacity: 1;
}

#continueturtlebutton:hover #continueturtlebuttonwave {
    opacity: 1;
}

@keyframes zerotoone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#turtlebuttontext {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    top: 35%;
    left: 35%;
    font-size: 1.8rem;
}

.description {
    z-index: 2;
    margin: 0;
    padding: 4%;
    position: absolute;
    top: 18%;
    right: 5%;
    background-color: #6ACED9;
    height: 60%;
    width: 22%;
    overflow: auto;
}

/* 바다거북이수프게임 */
.gametitle {
    position: absolute;
    top: 5%;
    left: 5%;
}

.output_container {
    position: absolute;
    width: 80%;
    height: 60vh;
    top: 15%;
    left: 5%;
    background-color: rgba(106, 206, 217, 0.3);
    border-radius: 30px;
    border: none;
    padding: 3%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.user-text {
    font-weight: medium;
    background-color: #0D5B8C;
    justify-content: end;
    text-align: right;
    font-size: 1.1rem;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    width: auto;
    max-width: 75%;
    padding: 1.5%;
    height: 100%;
}

.user-container {
    display: flex;
    font-weight: medium;
    justify-content: end;
    text-align: right;
    width: 100%;
    height: auto;
    right: 2%;
    margin-bottom: 2%;
    

}

.host-container {
    display: flex;
    font-weight: medium;
    justify-content: start;
    text-align: left;
    width: 100%;
    left: 2%;
    height: auto;
    margin-bottom: 2%;
}

.host-text {
    font-weight: medium;
    background-color: #6ACED9;
    justify-content: start;
    text-align: left;
    font-size: 1.1rem;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    width: auto;
    height: 100%;
    max-width: 75%;
    padding: 1.5%;
}

.inputform {
    /* bottom: 0; */
    display: flex;
    position: absolute;
    bottom: 1%;
    left:50%;
    transform: translateX(-50%);

}

textarea {
    background-color: rgb(255, 255, 255);
    color: #6ACED9;
    outline: none;
    border: none;
    font-size: 1.5rem; /* 글꼴 크기 변경 */
    padding: 15px 25px; /* 패딩 */ 
    text-decoration: none;
    display: block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.1); /* 그림자 추가 */
    border-radius: 30px;
    width: 55vw;
    height: auto;
    min-height: 3vh;
    max-height: 5vh;
    align-items: center;
    /* position: absolute; */
    /* top: -50%;
    left: 250%; */
    font-family: YeongdeokSea;
}

.sendbutton {
    height: 3vh;
}

@keyframes slideDownUp {
    0% {
        top: -50%;
    }
    100% {
        top: 13%;
    }
}
#loading {
    position: absolute;
    top: -50%;  /* 버튼 위에 위치 */
    left: 50%; /* 페이지 중앙에 위치 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    display: none; /* 기본적으로 숨김 */
    animation: slideDownUp 2s ease-in-out; /* 애니메이션 적용 */
}