{% extends 'project-base.html' %}
{% block content %}
{% load static %}
    <div style="position: fixed; right: 0; top: 0; z-index: 2;">
        <audio controls autoplay loop id="audio_player">
        </audio>
        <select id="audio_select" style="position: fixed; right: 0; margin-top: 3.5%;">
            <option value=""></option>
        </select>
    </div>
    <div style="font-family: YeongdeokSea, YeongdeokSeaWoff; display: flex; width: 100vw; height: 100vh;">
        <img src="{% static 'startturtle.jpg' %}" alt="turtlesoupstart" class="page">
        <h1 class="gametitle">바다거북이 수프 게임</h1>

        <div style="height: 60%;">
            <div class="output_container" id="output_container">
                <div>
                    <!-- <p>{{user_input}}</p> -->
                    {% for threadmessage in Data %}
                        {% if threadmessage.role == "assistant" %}
                            <div class="host-container">
                                <span class="host-text">{{ threadmessage.content }}</span><br>
                            </div>
                        {% elif threadmessage.role == "user" %}
                            <div class="user-container">
                                <span class="user-text"> {{ threadmessage.content }}</span><br>
                            </div>
                        {% endif %}
                        <!-- {{threadmessage}}
                        <br> -->
                    {% endfor %}
                    <!-- {{New}} -->
                </div>
            </div>
        </div>

        <form id="inputForm" method="post" action="{% url 'turtlesoupgame' %}" autocomplete="off" class="inputform" onsubmit="showLoading()">
            {% csrf_token %}
            <textarea name="user_input" id="user_input" rows="5" cols="100" required></textarea>
            <button id="send_button" type="submit" style="all:unset; width: 5vw; height: 8.5vh; border-radius: 30%; position: relative; z-index: 2; left: -10%;">
                <img src="{% static 'cutecat.gif' %}" alt="send" style="scale: 35%; transform: translate(-115%, -160%); position: absolute;">
            </button>
        </form>
        
        
        <script>
            function showLoading() {
                    document.getElementById('loading').style.display = 'block';
                }
            
            // 오디오 파일의 URL을 배열에 추가합니다.
            var turtleaudioFiles = [
                {name: "Binks' Brew", path: "{% static 'turtle/onepieceost.wav' %}"},
                {name: "Under the sea", path: "{% static 'turtle/underthesea.wav' %}"},
                {name: "Rolling Down to Old Maui", path: "{% static 'turtle/rollingdowntooldmaui.wav' %}"},
            ];

            window.onload = function() {
                // 배열에서 랜덤으로 URL을 선택합니다.
                var randomIndex = Math.floor(Math.random() * turtleaudioFiles.length);
                var randomAudioFile = turtleaudioFiles[randomIndex];

                // 오디오 플레이어의 source를 랜덤으로 선택한 URL로 설정합니다.
                var audioPlayer = document.getElementById('audio_player');

                // audioSelect.value = randomAudioFile.name;
                audioPlayer.src = randomAudioFile.path;
                // 오디오를 재생합니다.
                audioPlayer.play();

                var audioSelect = document.getElementById('audio_select');
                
                for (var i = 0; i < turtleaudioFiles.length; i++) {
                    var option = document.createElement('option');
                    option.value = turtleaudioFiles[i].path;
                    option.text = turtleaudioFiles[i].name;
                    audioSelect.appendChild(option);
                }
                
                audioSelect.onchange = function() {
                    audioPlayer.src = audioSelect.value;
                    audioPlayer.play();
                }

                audioPlayer.volume = 0.1;

                

                var container = document.getElementById("output_container");
                container.scrollTop = container.scrollHeight;
            };

            document.getElementById('inputForm').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();  // Enter 키의 기본 동작을 막음
                    this.submit();  // form을 제출
                }
            });
        </script>

        <div id="loading" style="display:none;">
            {% load static %}
            <img src="{% static 'cat_on.gif' %}" alt="Loading..." style="size: 50%;"/>
        </div>
    </div>
{% endblock content %}
